# Ignore platform-specific native code when detecting language
ios/** linguist-vendored
android/** linguist-vendored
linux/** linguist-vendored
windows/** linguist-vendored
macos/** linguist-vendored
